@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background: #f8b1f8;
    background: linear-gradient(90deg, #f8b1f8 0%, rgba(34,1,34,1) 33%, rgba(0,0,0,1) 65%, rgba(231,0,255,1) 100%);
    margin-top: 88px; 
}
html{
  scroll-behavior: smooth;
}
button{
  background-color: rgb(229, 21, 248);
  color: #ffffff;
  border: none;
  padding: 10px 24px;
  display: flex;
  justify-content: center;
  font-size: 19px;
  border-radius: 34px; 
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
  background-color: rgb(25, 238, 253);
  color: #cc28f5;
  transition: 0.4s;
}
h1{
    font-family: 'Poppins';
    text-align: center;
    color: aliceblue;
}
h3{
    text-align: center;
    font-family: 'Poppins';
    color: aliceblue;
}
p{
    font-family: 'Poppins';
    text-align: center;
    color: aliceblue;
}
ul {
    border-radius: 24px;
    position: fixed;
    top: 8px;
    width: 100%;  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  }
  li {
    float: left;
    
  }
  .right_text{
    text-align: right;
  }
  .left_text{
    text-align: left;
  }
  .cak_img{
    display: block;
    border-radius: 12px;
  }
  .millky_img{
    display: block;
    margin-left: auto;
    border-radius: 12px;
  }
  a {
    font-family: 'Poppins';
    padding: 8px;
    text-align: center;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /*just hover for nav bar :trolley:*/
  li a:hover {
    background-color: #818181;
    transition: 0.4s;
  }
iframe{
  align-items: center;
  border-radius: 30px;
}
.hr1{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 12px;
}
.hr2{
  border: 3px solid rgb(0, 17, 255);
  border-radius: 12px;
}
.hr3{
  border: 3px solid rgb(85, 85, 85);
  border-radius: 12px;
}
.hr4{
  border: 3px solid rgb(0, 253, 0);
  border-radius: 12px;
}
.hr5{
  border: 3px solid rgb(241, 241, 241);
  border-radius: 12px;
}
.hr6{
  border: 3px solid rgb(0, 17, 255);
  border-radius: 12px;
}
.hr7{
  border: 3px solid rgb(9, 255, 0);
  border-radius: 12px;
}
.hr8{
  border: 3px solid rgb(19, 114, 101);
  border-radius: 12px;
}
.hr9{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 12px;
}
.hr10{
  border: 3px solid rgb(0, 204, 255);
  border-radius: 12px;
}
.hr11{
  border: 3px solid rgb(97, 221, 252);
  border-radius: 12px;
}


  /* for gdbrower link :nerd: */
.link-text{ transition: .35s; }

.link-text:hover{ color: aliceblue; }
  
.link-text::after{ color: blue; }

/* giam padding top */
.profile-caption { padding-top: 20px; }

  /* scroolbar (plz de cai nay o cuoi)(lam on)(toi xin bn)(nen tu sat) */
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #520c43;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #612759;
}
